<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gov.cdc.mmwrexpress" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--
  Creates a custom permission so only this app can receive its messages.

  NOTE: the permission *must* be called PACKAGE.permission.C2D_MESSAGE,
        where PACKAGE is the application's package name.
    -->
    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name=".AppManager"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ArticleListActivity"
            android:configChanges="orientation"
            android:label="Articles"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="${applicationId}.MESSAGE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ArticleDetailActivity"
            android:configChanges="orientation"
            android:parentActivityName=".ArticleDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".KeywordSearchActivity"
            android:configChanges="orientation"
            android:label="Search"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".KeywordArticleListActivity"
            android:configChanges="orientation"
            android:label="Search"
            android:parentActivityName=".KeywordArticleListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EulaActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_eula"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Pushwoosh -->
        <meta-data android:name="com.pushwoosh.appid" android:value="0EEA8-DC709" />
        <meta-data android:name="com.pushwoosh.senderid" android:value="A40896656703" />
        <meta-data android:name="com.pushwoosh.log_level" android:value="ERROR" />

        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
